* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*   Codigo de la pagina   */
header,
nav,
main,
footer {
    width: 80%;
    margin: 0 auto;
    border-radius: 1.5rem;

}

header,
nav,
footer {
    /* 2. Activar Flexbox */
    display: flex;

    /* 3. Centrado Horizontal */
    justify-content: center;

    /* 4. Centrado Vertical */
    align-items: center;
}

header {
    margin-top: 2rem;
    width: 80%;
    min-height: 8rem;
    background-color: #0C3B1F;

}

header>h1 {
    text-align: center;
    color: bisque;
}

nav {
    margin-top: 1rem;
    min-height: 4rem;
    background-color: #04150B;
}

nav>h3 {
    text-align: center;
    color: bisque;
    font-size: 2rem;
}

main {
    margin-top: 1rem;
    width: 80%;
    min-height: 30rem;
    background-color: #209950;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main>div {
    border: 0.2rem solid black;
    border-radius: 1.5rem;
    width: 30%;
    text-align: justify;
    margin-top: 0.5rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.5s ease-in-out;
}

main>div:hover {
    transform: scale(1.05);
}

.izquierda {
    background-color: #52DA84;
}

.derecha {
    background-color: #52DA84;
}

footer {
    margin-top: 1rem;
    min-height: 20rem;
    background-color: #0C3B1F;
}

footer>h3 {
    text-align: center;
    color: bisque;
    font-size: 5rem;
}

/* Medias Queries */
@media screen and (max-width: 720px) {

    /*main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }*/

    main>div {
        width: 30%;

    }
}
@media screen and (max-width: 500px) {

    /*body{
        background-color: #04150B;
    }*/

    main>div {
        width: 80%;

    }

   
}