*
        {
            margin: 0;
            padding: 0;
        }

        /*   Codigo de la pagina   */
        header , nav, main
        {
            width: 80%;
            margin: 0 auto;
        }
        header 
        { 
            min-height: 8rem;
            background-color: darksalmon;
        }
        nav
        {
            min-height: 4rem;
            background-color: orangered;
        }
        main
        {
            min-height: 30rem;
            background-color: sandybrown;
            padding-bottom: 0.5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        main > div 
        {
            border: 0.3rem solid black;
            border-radius: 0.5rem;
            width: 30%;
            margin-top: 0.5rem;
            padding: 1rem;
            
        }
        .izquierda{
            background-color: yellow;
        }
        .derecha{
            background-color: yellowgreen;
        }
        footer
        {
            min-height: 20rem;
            background-color: crimson;
        }